<ul>
  <li>
  <a href="https://instagram.com/about/us" title="">
    ABOUT US
  </a>
  </li>
  <li>
  <a href="https://help.instagram.com/" title="">
    SUPPORT
  </a>
  </li>
  <li>
  <a href="http://blog.instagram.com/" title="">
    BLOG
  </a>
  </li>
  <li>
  <a href="https://instagram.com/press/" title="">
    PRESS
  </a>
  </li>
  <li>
  <a href="https://instagram.com/developer" title="">
    API
  </a>
  </li>
  <li>
  <a href="https://instagram.com/about/jobs" title="">
    JOBS
  </a>
  </li>
  <li>
  <a href="https://instagram.com/legal/privacy/" title="">
    PRIVACY
  </a>
  </li>
  <li>
  <a href="https://instagram.com/legal/terms/" title="">
    TERMS
  </a>
  </li>
  <li>
    LANGUAGE
  <select name="Language" multiple>
    <option value="">English</option>
  </select>
  </li>
</ul>
