<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="../../public/stylesheets/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>

  <div id="header">
    <div id="headerContent">
      <div>
        <a href="#link to index path" title="">
          <img id="navbarLogo" src="../../public/images/instagram1.jpg" alt="">
        </a>
      </div>
      <div id="searchBar">
        <form action="SEARCH USER" method="get" accept-charset="utf-8">
          <input type="text" id="search" placeholder="search">
        </form>
      </div>
      <div id="userName">
        <a href="#show user path" title="">testuser</a>
      </div>
    </div>
  </div>

</body>
</html>
