<div id="header">
  <div id="headerContent">
    <div>
      <a href="http://localhost:3000/entries" title="">
        <img id="navbarLogo" src="../../images/instagram1.jpg" alt="">
      </a>
    </div>
    <div id="addEntry">
      <a href="http://localhost:3000/entries/new" title="">Add a new entry</a>
    </div>
    <div id="userName">
      <a href="#show user path" title="">testuser</a>
    </div>
  </div>
</div>

