<div id="header">
  <div id="headerContent">
    <div>
      <a href="#link to index path" title="">
        <img id="navbarLogo" src="../../images/instagram1.jpg" alt="">
      </a>
    </div>
    <div id="searchBar">
      <form action="SEARCH USER" method="get" accept-charset="utf-8">
        <input type="text" id="search" placeholder="search">
      </form>
    </div>
    <div id="userName">
      <a href="#show user path" title="">testuser</a>
    </div>
  </div>
</div>

