<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WDInstagram</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
  <div id="bottomHalf"></div>
  <div id="topHalf"></div>

  <div id="container">
    <div id="leftDiv">
      <img src="images/phones.png" alt="">
    </div>
    <div id="topRight">
      <div>
        <img src="images/brand.png" alt="">
        <div id="homeButton">
          <a id="homeButtonText" href="http://localhost:3000/entries">HOME</a>
        </div>
      </div>
    </div>
    <div id="rightDiv">
      <div id="headline">
        <h3>
        Capture and Share <br>
        the World's Moments
        </h3>
      </div>
      <br>
      <p id="content">
        Instagram is a free and simple way to share your life and keep up with other people.
        <br>
        <br>
        Take a picture or video, then customize it with filters and creative tools. Post it on Instagram and share instantly on Facebook, Twitter, Tumblr and more—or send it directly as a private message. Find people to follow based on things you’re into, and be part of an inspirational community.
      </p>
      <br>
      <div id="storeButtons">
        <img src="images/badge-iphone.png" alt="">
        <img src="images/badge-android.png" alt="">
      </div>
    </div>
  </div>



  <% include ../views/partials/foot.ejs %>

</body>
</html>
