<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link href="../../stylesheets/style.css" rel="stylesheet" type="text/css" media="all">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/navbar.ejs %>
  <br><br><br>

  <% entries.forEach(function(entry){ %>
  <br><br><br>
    <section class="feed">
      <div class="entry">
        <span class="author-text"><a href="#"><%=entry.author%></a></span><br>
        <span class="date-text"><%=entry.date_taken%></span>
        <!-- <hr class="before"> -->
        <img alt="Entry Image" src=<%=entry.photo_url%>></span><br><br>
        <span class="feedLikes"> ... likes</span>
        <div class="feedCaptions">
          caption
        </div>
        <div class="feedComments">
          comments
        </div>
        <hr class="after">
        <div class="feedCommentArea">
          <i class="glyphicon glyphicon-heart-empty"></i>
          <input class="feedCommentInput" type="text" placeholder="Add a comment...">
        </div>
      </div>
    </section>
  <% }); %>
<br>
  <% include ../partials/foot.ejs %>
</body>
</html>
