/* Fonts */
@font-face {
    font-family: 'Billabong';
    src: url('../fonts/billabong-webfont.eot');
    src: url('../fonts/billabong-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/billabong-webfont.woff2') format('woff2'),
         url('../fonts/billabong-webfont.woff') format('woff'),
         url('../fonts/billabong-webfont.ttf') format('truetype'),
         url('../fonts/billabong-webfont.svg#billabongregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/* Styles */
body {
  background:  #3f729b;
  font-family: 'Source Sans Pro', sans-serif;
}

.script {
  font-family: Billabong;

  display: inline-block; /* allows us to scale without breaking spacing */
  -webkit-transform: scale(1.15, 1.0);
  -moz-transform:    scale(1.15, 1.0);
  -ms-transform:     scale(1.15, 1.0);
  -o-transform:      scale(1.15, 1.0);
  transform:         scale(1.15, 1.0);

  letter-spacing: 0.05em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}


.newPageForm{
  text-align: center;

}

.newFormDiv{
}

.container{
  height: 200px;
  position: static;
  background-color: #3f729b;

}

.backgroundNew{
  background-color: white;
  height: 300px;
  position: static;
  margin-top: 100px;
  opacity: 0.9;
  width: 113%;
  margin-left: -7%;
}

.well{
  background-color: none;
}

#formNew{
  background-color: white;
  border: 2px solid black;
}

.showDiv{
  background-color: white;
  border-radius: 3px;
  border: 2px solid black;
}

#container {
  width: 860px;
  height: 500px;
  margin: 200px auto;
}

#bottomHalf {
  width: 100%;
  height: 500px;
  background-color: #FFFFFF;
  position: static;
  margin-top: -550px;
}

#content {
  position: relative;
  margin: 0 auto;
}

#leftDiv {
  width: 318px;
  float: left;
}

#topRight {
  width: 504px;
  float: right;
}

#rightDiv {
  background-image: url("../images/frame.png");
  background-repeat: no-repeat;
  width: 504px;
  height: 512px;
  float: right;
  padding: 25px 50px 0 50px;
}

h3 {
  font-family: 'freight-sans-pro', 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #3f729b;
  font-weight: bold;
}

p {
  font-size: 17.5px;
}

/**************************
 **  Footer Bar Styling  **
 **************************/
footer {
  background-color: #ffffff;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#footerContent {
  width: 860px;
  height: 50px;
  position: relative;
  margin: 0 auto;
  background-color: #ffffff;
}

ul {
  style: none;
  position: relative;
  margin: 0 auto;
  top: 5px;
}

li {
  font-family: 'freight-sans-pro', 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  display: inline;
  font-size: 12px;
  font-weight: 600;
  margin: 19px 19px;
  color: #3f729b;
}

#copyright {
  font-family: 'freight-sans-pro', 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 11px;
  width: 135px;
  position: relative;
  margin: 8px auto;
}

/**********************
 **  Navbar Styling  **
 **********************/

#header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
}

#headerContent {
  width: 860px;
  height: 80px;
  position: relative;
  margin: 0 auto;
}

#navbarLogo {
  width: 110px;
  height: 50px;
  position: relative;
  top: 15px;
  float: left;
}

#searchBar {
  width: 300px;
  height: 30px;
  position: relative;
  margin: 0 auto;
  top: 25px;
  text-align: center;
}

#search {
  border: 1px solid #DDDDDD;
  border-radius: 15px;
  outline: none;
  width: 200px;
}

#userName {
  width: 300px;
  height: 30px;
  position: relative;
  float: right;
  text-align: right;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: bold;
  color: #3f729b;
}


